<% if (typeof rabbit === 'undefined' || rabbit === null){ %>
    <form id='newrabbitform' method="post">
        <h3>Add a new rabbit to the warren</h3>
        <label>Name: <input type="text" name="name" value=""></label><br>
        <label>Breed: <select class="" name="breed">
            <option value="American Sable">American Sable</option>
            <option value="Belgian Hare">Belgian Hare</option>
            <option value="Britannia Petite">Britannia Petite</option>
            <option value="American fuzzy lop">American fuzzy lop</option>
            <option value="English Angora">English Angora</option>
            <option value="wascally wabbit">wascally wabbit</option>
        </select></label><br>
        <label>date of birth: <input type="date" name="dob" value=""></label><br>
        <input type="submit" name="name" value="Submit">
    </form>
<% } else { %>
    <form id='updaterabbitform' method="post">
        <h3>Update this rabbit of the warren</h3>
        <label>Name: <input type="text" name="name" value=" <%= rabbit.name %> "></label><br>
        <label>Breed: <select class="" name="breed">
            <option value="American Sable" selected>American Sable</option>
            <option value="American Sable" >American Sable</option>
            <option value="Belgian Hare">Belgian Hare</option>
            <option value="Britannia Petite">Britannia Petite</option>
            <option value="American fuzzy lop">American fuzzy lop</option>
            <option value="English Angora">English Angora</option>
            <option value="wascally wabbit">wascally wabbit</option>
        </select></label><br>
        <label>date of birth: <input type="date" name="dob" value="<%= rabbit.dob %>"></label><br>
        <input type="submit" name="name" value="Submit">
    </form>
<% } %>
