<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="./master.css">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="jquery-ui.js" charset="utf-8"></script>
        <script src="main.js"></script>
        <title>The Rabbit Warren</title>
        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAA
        AAAAAACKblAAAAAAAP///wADAwMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        AAAAAAAAAAAAAAAAERAAAAAAARERAAAAAAAAERAAAAAAAAABAAAAAAAAAAAAACIiIiIgAAACIiIi
        IAAAACIiIiIiAAAAIiIiIiIgAAIiIiIiIiIAAiIiAAIjIAACIAAAACIAAAAAAAACIAAAAAAAACAg
        AAAQAAACACAAAREAAAAAAAARERAAAAAAARHgBwAAwAMAAIABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
        AAAAAAAAAAAAAAAAAAAAAAAAAAAAgAEAAMADAADgBwAA" rel="icon" type="image/x-icon" />
    </head>
    <body>
        <div class="warren"></div>
        <div class="form"></div>
        <div class="error"></div>
        <div id="dialog" title="Dialog Title">Are you sure you want to permanently delete this rabbit?</div>
    </body>
</html>
