p{
    color: brown;
}
.hide{display: none;}
th, td {
    font-weight: lighter;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align:  left;
}
table{
    width: 85%;
    min-width: 1000px;
}
th.date, td.date {
    font-weight: lighter;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: justify;
    width:160px;
}
th.action, td.action {
    font-weight: lighter;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    text-align: center;
    width:90px;
}
form.mybutton{
    display: inline;
}
#dialog{display: none;}
table {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table thead tr th, table tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table thead tr .header {
	background-image: url(images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table tbody tr.odd td {
	background-color:#F0F0F6;
}
table thead tr .headerSortUp {
	background-image: url(images/asc.gif);
}
table thead tr .headerSortDown {
	background-image: url(images/desc.gif);
}
table thead tr .headerSortDown, table thead tr .headerSortUp {
background-color: #8dbdd8;
}
